<h1>Change Password</h1>

<%= form_for @change_password, :url => profile_path(:do_change_password) do |f| %>

  <% if @change_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@change_password.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @change_password.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" >
    <%= f.label :current_password %><br />
    <%= f.text_field :current_password %>
  </div>

  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.text_field :new_password %>
  </div>
  <div class="field">
    <%= f.label :new_password_confirmation %><br />
    <%= f.text_field :new_password_confirmation %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update Profile" %>
  </div>

<% end %>
