<!DOCTYPE html>
<html>
<head>
  <title>RubyVault</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header id="sitenav" >

    <nav id="authentication" >
      <ul>
        <% if logged_in? %>
          <li><%= link_to "Profile", profile_path(:view) %></li>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li><%= link_to "Enroll", begin_enrollment_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>

    <nav>
      <ul>
        <li><%= link_to "Welcome", welcome_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Accounts", accounts_path %></li>
          <% if current_user.is_admin? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
</header>



<div id="content" >

  <%= yield %>
</div>

</body>
</html>
