<!DOCTYPE html>
<html>
<head>
  <title>RubyVault</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header id="sitenav" >

    <nav id="authentication" >
      <ul>
        <% if logged_in? %>
          <li><%= link_to "Logout", logout_path %></li>
        <% else %>
          
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </nav>

    <nav>
      <ul>
        <li><%= link_to "Welcome", welcome_path %></li>
      </ul>
    </nav>
</header>



<div id="content" >

  <%= yield %>
</div>

</body>
</html>
